.grid-large-device {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-small-device {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.grid-item {
  display: grid;
  width: auto;
  height: auto;
}

.bird {
}

.location {
}